//Mixin for changing to orange colour on hover

@mixin orange_hover {
  &:hover {
    color: $highlight;
  }
}

@mixin nav_item_alignment {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .bi:not(.bi-chevron-down) {
    font-size: 23px;
    font-weight: bolder;
  }
}

@mixin nav_item_list_styles
{
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 15px;
  width: 12em;
  height: max-content;
  border-radius: 5px;
  position: absolute;
  display: none;
}

@mixin button_styles
{
    background-color: $nav_button;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 5px lighten(gray, 40%), -2px 0px 10px 1px lighten(gray, 40%);
    font-family: sans-serif;
    font-weight: bold;

    &:hover
    {
      background-color: darken($nav_button, 10%);
    }

}